{% extends 'base.html' %} {% block title %}
<title>Submitted</title>
{% endblock title %} {% block body %}
<div class="container">
  <div class="card px-5 py-5 my-5">
    <h1 class="display-4">Hello there!</h1>
    <p class="lead">
      Thank you so much for your valuable time to be a part of this competition. We will soon release the result through our facebook page. GoodLuck!
    </p>
    <a class="btn btn-secondary" href="https://facebook.com/theClassNote.Official" role="button">The Class note</a>
  </div>
</div>
{% endblock body %}
